:root {
  --icon-size: 20px;
}

.google-icon,.aspen-icon {  
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
.icon .google-icon,.icon .aspen-icon {
  display: block;  
}
.google-icon {
  background-image: url('https://staff.innovationcharter.org/icons/classroom.png');  
}
.aspen-icon {
  background-image: url('https://staff.innovationcharter.org/icons/aspen.ico');
  
}

.text-w-icon {
    display: flex;
    align-items: center;
    gap: 8px;
  }